<li>
  <div class="downloads">
    <strong>4,126,568</strong> downloads
  </div>
  <a href="https://rubygems.org/gems/rails">
    <strong>rails (3.0.8)</strong>
    Ruby on Rails is a full-stack web framework optimized for programmer happiness and sustainable&hellip;
  </a>
</li>
